
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<style>
body {
    background-image: url("https://www.bypeople.com/wp-content/uploads/2014/05/light-live-background-css.jpg");
}
header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
.poster{
  margin-top: 50px;
  margin-left: 90px;
  width: 450px;
  height: 350px;
}
.mvename{
  width:400px;
  height:50px;
  border: none;
  margin-top: -400px;
  margin-left: 600px;
  font-size: 50px;
  font-weight: bold;
}
.descrip{
  width:400px;
  height:50px;
  border: none;
  margin-top: 20px;
  margin-left: 600px;
  font-size: 20px;
  font-weight: normal;
}
div#relative {
    position: relative;
    height: 60px;
    width: 120px;
    left: 700px;
    top: 350px;
    border: 3px solid #73AD21;
}
</style>

<body>
<header>
   <h1 id="headname">Website Name</h1>
</header>
<img src="https://images6.alphacoders.com/337/thumb-1920-337242.jpg" class="poster" id="imgpull">
<div class="mvename" id="mvname">Man of Steel</div>
<div class="descrip" id="desc">With the imminent destruction of Krypton,
  their home planet, Jor-El (Russell Crowe) and his wife seek to preserve
   their race by sending their infant son to Earth. The child's spacecraft
   lands at the farm of Jonathan (Kevin Costner) and Martha (Diane Lane) Kent,
    who name him Clark and raise him as their own son. Though his extraordinary
    abilities have led to the adult Clark (Henry Cavill) living on the fringe of
    society, he finds he must become a hero to save those he loves from a dire threat.</div>
    <div class="alert alert-dark" role="alert" id="relative">
      <p id="price">Price=$30</p>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
